/** {margin:0; padding:0; outline:none}*/
.sortable {font:10px Verdana,Arial; margin:5px; background:#fff url(../images/bg.gif) repeat-x; color:#091f30}
 

.sortable {width:97%; border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none; margin:0 0px; margin-bottom:10px;}
.sortable th {background:url(../images/header-bg.gif); height:27px; text-align:left; color:#cfdce7; border:1px solid #fff; border-right:none}
.sortable th h3 {font-size:10px; padding:6px 8px 8px}
.sortable th.nosort {text-align:center; width:115px;}
.sortable td {padding:4px 6px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1}
.sortable .head h3 {background:url(../images/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .desc, .sortable .asc {background:url(../images/header-selected-bg.gif)}
.sortable .desc h3 {background:url(../images/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .asc h3 {background:url(../images/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.sortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {color:#fff}
.sortable .evenrow td {background:#fff}
.sortable .oddrow td {background:#ccc}
.sortable td.evenselected {background:#ddd}
.sortable td.oddselected {background:#ccc}

#controls {width:90%; margin:0 auto; height:20px; margin-left:-10px; margin-bottom:5px; }
/*#controls {width:980px; margin:0 auto; height:20px} */
#perpage {float:left; width:25%}
#perpage select {float:left; font-size:11px; margin-left:10px;}
#perpage span {float:left; font-size:11px; margin:0 0 0 5px}
#navigation {float:left; width:50%; text-align:center}
#navigation img {cursor:pointer}
#text {float:left; width:25%; text-align:right; margin-top:2px}