* {
	margin:0; 
	padding:0; 
	outline:none;
}

/***************************************************/
/*  fonts used for sitename in cms - DO NOT REMOVE */
/***************************************************/

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold-webfont.eot');
    src: url('../fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold-webfont.woff') format('woff'),
         url('../fonts/raleway-semibold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
line-height: 1.5em;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 80%;
outline: none;
}

a {	color : #356AA0;	text-decoration:none; }
a:link, a:visited {	color : #000;	}

a:hover, a:active { text-decoration:underline; }

b{font-size: 110%;}
em{color: red;}

/********************************************************
 * Header Section
 *******************************************************/

#topsection {
	position: relative;
	width: 100%;
	height: 100px;
	background: url('../images/header.png') repeat-x; 
	font: 30px Arial, Helvetica, sans-serif;
	color: #fff;
}

#topsection img {
	position: absolute;
	right: 6px;
	bottom: 10px;
	height: 40px;
}
#topsection p.coname {
	position: absolute;
	left: 10px;
	top: 20px;
	font-family: ralewaysemibold, serif;
	color: #fff;
	text-shadow: 2px 2px 3px #000;
}
#topsection p.adminarea {
	position: absolute;
	left: 10px;
	bottom: 20px;
	font-size: 20px;
	font-family: ralewayregular, serif;
	color: #C5DC29;
	text-shadow: 2px 2px 3px #000;
}

#admin_bar{
	/*clear: left;*/
	padding: 4px 0;
	width: 100%;
	height:20px;
	min-height:20px !important; 
	background: #36393D;
	color: #FFF;
	text-align: center;
}

#admin_bar ul {
  list-style-position:inside;
  display:inline;
  list-style:none;
  font-size: 11px;
  float:right;
  margin:4px 20px 0 20px;
  
}
#admin_bar li {
  display:inline;
  list-style:none;
  list-style-position:inside;
  padding:0 5px 0 5px;
	
}
#admin_bar ul li a
{
  text-decoration: none; 
  color: #C5DC29;
}
#admin_bar ul li a:visited
{
  color: #C5DC29;
}
#admin_bar ul li a:hover
{
  color: #fff;
}


/********************************************************
 * Center Content Layout
 *******************************************************/
#maincontentwrapper{  
float:left;
width:100%;
overflow:hidden;
position:relative;
background-color:#C3D9FF;
}

#contentwrapper{
float: left;
width: 100%;
min-height: 544px;
background-color:#FFF;
overflow: hidden;
position:relative;
}

#contentcolumn{
border-top:1px solid #C8DC27;
/*border-bottom:1px solid #C8DC27;*/
border-left: 1px solid #36393D;
/*border-right: 6px solid #3F4C6B;*/
/*border-right: 6px solid #1C5A81;*/
margin-left: 206px; /*Set left margin to LeftColumnWidth*/
min-height: 544px;

/*background:#fff url(../images/bg.gif) repeat-x;*/
/*margin-bottom: -10000px; padding-bottom: 10000px; */
/*background-color:#FFF;*/
}

#contentcolumn h2 {
	font-size:120%;
	font-weight:bold;
	text-align:left;
	text-decoration:underline;
	margin:15px 0 5px 10px;
}

#contentcolumn h3 { 
	margin-top:0px; 
}

.centertube {
  margin:0 0 0 30px;
  padding-top:20px;
}

.instruction
{
  font-size:90%;
  font-weight:normal;
  text-decoration:none;
  padding:0 0 10px 30px;
  color:#36393D;
	border-bottom: 1px solid #36393D;
}

h3 {
}

/********************************************************
 * Left Side Navigation
 *******************************************************/
#leftcolumn{
float: left;
width: 200px; /*Width of left column*/
margin-left: -100%;
border-left: 6px solid #36393D; 
/*border-left: 6px solid #3F4C6B; */
border-right: 1px solid #C8DC27;
background-color:#36393D;
min-height:595px;
height:100%;
position:relative;
/*overflow:hidden;
margin-bottom: -10000px; padding-bottom: 10000px;*/
}

.clearcols { clear: both; }


#leftcolumn p.logo {
	text-align:center;
	margin-top:15px;
}

#leftcolumn h2{
		font-size:120%;
		font-weight:bold;
		text-align:center;
		margin:20px 0 10px 0;
		color: #C5DC29;
}

#leftcolumn ul {
 list-style: none;
 margin: 0;
 padding: 0;
 margin-top:10px;
}

#leftcolumn li {
 border-bottom: 1px solid #fff;
}

#leftcolumn li a:link, #leftcolumn li a:visited  {
 font-size: 90%;
 display: block;
 padding: 0.4em 0 0.4em 0.5em;
/* border-left: 6px solid #3F4C6B; */
 background-color: #36393D;
 color: #fff;
 text-decoration: none;
}

#leftcolumn li a:hover, #leftcolumn li a:active {
 background-color: #C8DC27;
 color: #000;
}


/********************************************************
 * Footer
 *******************************************************/

#footer{
clear: left;
width: 100%;
background: #36393D;
color: #FFF;
text-align: center;
padding: 4px 0;
height:1%;
}

#footer a{
color: #FFFF80;
}

/********************************************************
 *
 *******************************************************/

.innertube{
margin: 2px 10px 5px 10px; /*Margins for inner DIV inside each column (to provide padding)*/
}

#wrapper div{
 width:80%;
 clear:both;
}

/********************************************************
 * Various Success and Error Messages
 *******************************************************/

.memo {
	font-size: 90%;
	font-family: Arial, Helvetica, sans-serif;
	color: #060;
}

.error_message, .notice_message, .success_message {padding: .8em; margin-bottom:1.6em; border: 2px solid #ddd; width: 91%;}

.error_message { background:#FBE3E4 url('../images/error.png') no-repeat; padding-left:35px; color:#8a1f11; border-color:#FBC2C4; }
.notice_message {background:#FFF6BF url('../images/notice.png') no-repeat; padding-left:35px;color:#514721;border-color:#FFD324;}
.success_message { background:#E6EFC2 url('../images/success.png') no-repeat; padding-left:35px;color:#264409;border-color:#C6D880;}

.error_message li, .notice_message li, .success_message li {
	margin-left: 12px;
}

.error_message a {color:#8a1f11; background:none; padding:0; margin:0; }
.notice_message a {color:#514721; background:none; padding:0; margin:0; }
.success_message a {color:#264409; background:none; padding:0; margin:0; }

/********************************************************
 * Section Headers for H3 Tab
 *******************************************************/

.section_header{

  margin-bottom:10px;
  float:left;
  background: url(../images/bg_header.png) center center repeat-x;
  width: 95%;
  text-align: left;
  font-size: 140%;
  padding-top:5px;
  height   :22px;
  color: #fff;
}

.section_header span, .section_header a.bar 
{
  padding: 5px 0 2px 5px;
}

.section_header a
{
  float: right;
  margin-right: 15px;
  text-decoration:none;
}

.section_header a:link, .section_header a:visited  {
  color:#C6DE28;
}

.section_header a:hover {
 color: #C6DE28;
 cursor:pointer;
}


/********************************************************
 * Main Form CSS Styles
 *******************************************************/

#signup table, #form table {  
 background-color: #777777; 
 color: #000000;  
/* width: 590px;  */
 width:97%;
 border: 1px solid #000;  
 border-collapse: collapse;  

}  
 
#signup td, #form td {  
 border: 1px solid #000; /*#D7E5F2;  */
 padding: 1px 1px 1px 4px;  
}

#signup a, #form a {	color : #36393D;	text-decoration:none; }
#signup a:link, #signup a:visited {	color : #36393D;	}
#form a:link, #form a:visited {	color : #36393D;	}

#signup a:hover, #signup a:active { text-decoration:none; }
#form a:hover, #form a:active { text-decoration:none; }

/*
.labelcell {    
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;    
 color: #3670A7;    
 background-color: transparent;    
 width: 420px;    
}    
*/

.labelcell
{
 color:#000000;
 width:250px;
  
  
}
.fieldcell {    
 background-color: #F2F7FB;    
 color: #36393D;    
 text-align: right;    
 margin-right: 0px;    
 padding-right: 0px;    
}    
   
.smalllabelcell {    
		color : #000000;
		width : 150px;    
}    
   
.smallfieldcell {    
 background-color: #F2F7FB;    
 color: #36393D;    
 text-align: right;    
     
}

.note {
 color:#900;
 font-size:80%;
 
/* letter-spacing:-1px; */
}

.attn{
 color:#900;
 font-size:70%;		
}

.padattn2{
	font-size:70%;	
	float:right;
	padding-right:8px;
}

.req {
	float: right;
	padding-right: 5px;
	color: #900;
}

/********************************************************
 * Error Checking for Form Validation
 *******************************************************/

.errors {  
 background-color: #F9FBFD; 
/* width: 574px;  */
 width:86.5%;
 border: 1px solid #D7E5F2;  
 border-collapse: collapse;
	color : #C00;
	font-weight: bold;
	font-size:120%;
	line-height:27px;
	vertical-align:middle;
	padding-left:15px;
}

.form_field_error {
 background-color: #FF9;	
}

/********************************************************
 * Misc Styles to use
 *******************************************************/

.red{		
		margin-top: 10px;
		color : #C00;
		font-weight: bold;
		font-size:120%;				
}

.msg_box_2{
  width: 200px;  
		float:left;
		
		text-align:right;
  font-size: 100%;
		font-weight:bold;
}

.msg_box_3
{  
   margin-left: 205px;
  text-decoration:none;
}

.spacer div
{
 min-height:15px;   
}

.instruction
{
/* background-color:#3F4C6B;
	border:1px dashed #ED9F9F;*/
 margin-left:-23px;
	/*color:#006E2E;*/
}

.center {
	text-align: center;
}
.fltrt {
	float: right;
}
.fltlft {
	float: left;
}
	
	
/********************************************************
 * Contact Form CSS
 *******************************************************/

#contact_form table {  
 background-color: #777777; 
 color: #000000;  
/* width: 590px;  */
 width:575px;
 margin:0 auto;
 border: 1px solid #000;  
 border-collapse: collapse;  
}

#contact_form textarea {
 width:560px;
 margin:0 auto;
 height:50px;
}
 
#contact_form td {  
 border: 1px solid #000; /*#D7E5F2;  */
 padding-left: 4px;  
}

#contact_form a {	color : #36393D;	text-decoration:none; }
#contact_form a:link, #contact_form a:visited {	color : #36393D;	}

#contact_form a:hover, #contact_form a:active { text-decoration:none; }


/*********************************/
/* misc                          */
/*********************************/
.notool {
	color: #aaa;
} 
table.sortable td {
	padding-left: 20px;
}
